<div class="navbar">
    <div class="navbar-inner">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="brand brand-g-car" href="#"><img src="content/img/atom-48.png"> Genetic cars</a>
        <div class="nav-collapse collapse">
            <ul class="nav nav-g-car">
                <li class="active"><a href="#">Simulation</a></li>
                <li><a href="#">Visualization</a></li>
                <li><a href="#">Evolution</a></li>
            </ul>
        </div>
    </div>
</div>